.nav-bar {
  flex: 0.05;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #181818;
  height: 100%;
  min-height: 500px;
  z-index: 3;
  opacity: 0.7;

  &:hover {
    filter: drop-shadow(0px 0px 7px dodgerblue);
    // transition-delay: 1ms;
    transition: all 0.2s ease-in;
  }
  .logo {
    top: 10px;
    position: absolute;
    justify-self: flex-end;
    padding: 8px 0;
    img {
      display: block;
      margin: 8px auto;
      width: 25px;
      height: auto;
      &.logo-sub {
        width: 50px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;
    height: 210px;
    top: 50%;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: inline;
      line-height: 50px;
      height: 50px;
      position: relative;
      text-decoration: none;
      i {
        transition: all 0.3 ease-out;
      }
      &:hover {
        display: flex;
        justify-content: center;
        color: dodgerblue;
        svg {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        widows: 100%;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 0.3 ease-out;
        transition: all 0.3 ease-out;
      }
    }
    a.link-home {
      &::after {
        content: 'Home';
      }
    }
    a.link-about {
      &:after {
        content: 'About';
      }
    }
    a.link-contact {
      &:after {
        content: 'Contact';
      }
    }
    a.link-portfolio {
      &:after {
        content: 'Portfolio';
      }
    }
    a.active {
      svg {
        color: dodgerblue;
      }
    }
  }
  // social links
  ul {
    position: absolute;
    bottom: 50px;

    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 15px;

        &:hover svg {
          color: #ffd700;
        }
      }
    }
  }
}
.tablet {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  z-index: 3;
  opacity: 0.7;
  &:hover {
    filter: drop-shadow(0px 0px 7px dodgerblue);
    // transition-delay: 1ms;
    transition: all 0.2s ease-in;
  }
  .logo {
    img {
      &.logo-sub {
        width: 50px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    text-align: center;
    a {
      font-size: 22px;
      color: #4d4d4e;
      display: inline;
      text-decoration: none;
      i {
        transition: all 0.3 ease-out;
      }
      &:hover {
        display: flex;
        justify-content: center;
        color: dodgerblue;
        svg {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        // bottom: 0;
        display: block;
        widows: 100%;
        margin: 5px auto;
        opacity: 0;
        -webkit-transition: all 0.3 ease-out;
        transition: all 0.3 ease-out;
      }
    }
    a.link-home {
      &::after {
        content: 'Home';
      }
    }
    a.link-about {
      &:after {
        content: 'About';
      }
    }
    a.link-contact {
      &:after {
        content: 'Contact';
      }
    }
    a.link-portfolio {
      &:after {
        content: 'Portfolio';
      }
    }
    a.active {
      svg {
        color: dodgerblue;
      }
    }
  }
  // social links
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    // flex: 1;
    flex-direction: row;
    li {
      margin: auto 5px;
      a {
        padding: 7px 0;
        // display: block;
        font-size: 20px;
        line-height: 15px;
        &:hover svg {
          color: #ffd700;
        }
      }
    }
  }
}
.mobile {
  ul,
  nav {
    display: none;
  }
  .logo > :nth-child(1) {
    display: none;
  }
  .logo {
    left: 20px;
    width: 50px;
    padding-inline-start: 7.5%;
    img {
      width: 50px;
    }
  }
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.showNav {
  height: 20%;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: red;
  background-color: #181818;
  z-index: 3;
  opacity: 0.7;
  .logo {
    padding-inline-start: 15px;
  }
  &:hover {
    filter: drop-shadow(0px 0px 7px dodgerblue);
    // transition-delay: 1ms;
    transition: all 0.2s ease-in;
  }

  nav {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    a {
      svg {
        color: white;
      }
      font-size: 22px;

      &:hover {
        display: flex;
        justify-content: center;
        color: red;
        svg {
          opacity: 0.5;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  // social links
  ul {
    width: 20%;
    justify-content: flex-start;
    padding-inline-start: 10px;
    z-index: 10;
    list-style: none;
    display: flex;
    // flex: 0.5;
    flex-direction: row;
    li {
      align-self: flex-start;
      margin: auto 5px;
      a {
        svg {
          color: white;
        }
        padding: 7px 0;
        // display: block;
        font-size: 20px;
        line-height: 15px;
        &:hover svg {
          color: #ffd700;
        }
      }
    }
  }
}
.nav-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
